/* These styles apply to the whole document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #39061c;
    --secondary-color: #f1f1f1;
    --text-color: #333;
    --font-size: 16px;
}

/* Styling for the navigation */
.navigation .menu .link {
    color: var(--secondary-color);
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.navigation .menu .link:hover {
    background: #333;
    color: var(--secondary-color);
}


nav {
    background-color: var(--primary-color);
}

.navigation .logo .logo-text {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: semi-bold;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
}

.navigation .menu {
    display: flex;
    gap: 20px;
}

body.show-mobile-menu .navigation .menu {
    left: 0;
    transition: left 0.3s ease;
}

.navigation .menu :where(#menu-close-button) {
    display: none;
}

.navigation :where(#menu-open-button) {
    display: none;
    color: var(--primary-color);
}

/* Styling for the whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 500px;
    margin: 20px 0;
}

/* Styling for the hero section */
.hero {
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 20px;
}

.hero .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--secondary-color);
    justify-content: space-between;
}

.hero .hero-details .title {
    font-size: xx-large;
    color:chocolate;
    font-family:Arial, Helvetica, sans-serif
}

.hero .hero-details .subtitle {
    margin-top: 15px;
    max-width: 50%;
    font-size: x-large;
    font-weight: semi-bold;
}

.hero .hero-details .introduction {
    max-width: 50%;
    margin: 20px 0 40px;
    font-size: medium;
}

.hero .section-content .hero-image {
    max-width: 500px;
    margin-right: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.button .set-goal{
    background-color: darkgrey;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
}

/* Responsive media query code for max width 800px  */
@media screen and (max-width: 800px) {
    :root {
        --font-size: 14px;
    }

    .navigation .menu :where(#menu-close-button, #menu-open-button) {
        display: block;
    }

    .navigation #menu-close-button {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .navigation #menu-open-button {
        color: white;
    }

    .navigation .menu {
        display: block;
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: var(--secondary-color);
    }

    .navigation .menu .link {
        color: black;
        display: block;
        margin-top: 10px;
        font-size: large;
    }

    .hero .section-content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
    }

    .hero .hero-details :is(.title, .subtitle) {
        max-width: 100%;
    }

    .hero .section-content .hero-image {
        max-width: 100%;
        margin: 0;
    }

    .hero .hero-details .introduction {
        max-width: 100%;
    }
    
    .hero .hero-details .button {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* Styling about.html */
.about-section {
    padding: 100px;
    background-color: var(--secondary-color);
}

.about-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}

.founders {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}
.founder {
    border: 1px solid transparent;
    justify-content: center;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.founder-image {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}

.footer {
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--text-color);
}

.home-footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
}

/* Styling goal section. */

#goal-section .goal-title {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}

#goal-section .form-group {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto 40px;
    border: transparent;
    background-color: darkgray;
    padding: 20px 20px 20px 20px;
    gap: 10px;
}

.goal-btn {
    padding: 10px 20px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    max-width: 150px;
    text-align: center;
    border: 2px solid transparent;
}

.goal-btn:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);
}

#goal-section .goal-intro {
    text-align: center;
    margin: 20px 0;
}

#goal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: var(--primary-color);
    width: fit-content;
    margin: 20px;
    margin-bottom: 20px;
    color: white;
    border: 2px solid black;
}

.goal {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 250px;
}

#my-goals {
    text-align: center;
}

/* Stlying contact.html */
.contact {
    padding: 100px
}

#contact-form {
    align-items: center;
    margin: 10px;
}

#contact-form .form-group{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto 40px;
    border: transparent;
    background-color: darkgray;
    padding: 20px 20px 20px 20px;
    gap: 10px;
}

.contact-btn {
    padding: 10px 20px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    max-width: 150px;
    text-align: center;
    border: 2px solid transparent;
}
.contact-btn:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);;
}

.c {
    text-align: center;
}

.contact-intro {
    text-align: center;
    margin: 20px 0;
}

